<header>
   My Library
   <ul>
      <li><a href="/">Catalog</a></li>
      {{#if isLoggedIn}}
      <li><a href="/staff">Operations</a></li>
      <li><a href="/logout">Logout</a></li>
      {{else}}
      <li><a href="/about">About</a></li>
      <li><a href="/login">Staff Login</a></li>
      {{/if}}
   </ul>
</header>