<!DOCTYPE html>
<html>
  <head>
    <title>Library App</title>
    <link rel='stylesheet' href='../..//stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      {{> header}}
      <main>
      {{{body}}}
      </main>
    </div>
  </body>
</html>
