<h3>About My Library App</h3>
<p>"My Library App" is a back-end web development project designed to replicate the core functions of a Library Management System, including displaying, registering, updating, and deleting borrower profiles; displaying, adding, editing, and deleting records (e.g. books, audiovisual material, etc); checking out items to borrowers; and discharging items.</p> 
<p>In order to access these functions, authorized users must sign in using the "Staff Login" link. Guest users will be able to view the library catalog and this about page, but will not have access to any staff operations.</p>

<h3>Web-Development Technologies</h3>
<p>Front-end technologies include HTML5, CSS3, and Bootstrap</p>
<p>Back-end technologies employed:
   <ul>
      <li>Node.js - a JavaScript runtime environment</li>
      <li>Express.js - a Node.js server framework</li>
      <li>Express Handlebars - a Handlebars view engine for Express</li>
      <li>Handlebars - an HTML templating engine </li>
      <li>MongoDB - a JSON-like document-based NoSQL database</li>
      <li>Mongoose - a MongoDB object modeling tool</li>
   </ul>
</p>
