<div class="wrapper">
      <div class="text-center mt-4 name">Add a Record</div>
      <form action="/staff/record/addRecord" method="POST" class="p-3 mt-3">
         <div class="form-field d-flex align-items-center">
         <input type="text" id="recordId" name="recordId" placeholder="Record ID"></div>
         <div class="form-field d-flex align-items-center">
         <input type="text" id="title" name="title" placeholder="Title"></div>
         <div class="form-field d-flex align-items-center">
         <input type="text" id="author" name="author" placeholder="Author"></div>
         <div class="form-field d-flex align-items-center">
         <input type="text" id="subject" name="subject" placeholder="Subject"></div>
         <div class="form-field d-flex align-items-center">
         <input type="text" id="format" name="format" placeholder="Format"></div>
         <div class="form-field d-flex align-items-center">
         <input type="text" id="classification" name="classification" placeholder="Classification"></div>
         <div class="form-field d-flex align-items-center">
         <input type="text" id="description" name="description" placeholder="Description"></div>
         <div class="form-field d-flex align-items-center">
         <input type="url" id="imageUrl" name="imageUrl" placeholder="Image URL"></div>
         <input type="hidden" id="checkoutStatus" name="checkoutStatus" value="false">
         <input type="hidden" id="dueDate" name="dueDate" value="null">
         <button type="submit" class="btn mt-3">Add record</button>
         <button type="reset" class="btn mt-3">Clear</button>
      </form>
   </div>