<div class="wrapper">
   <div class="text-center mt-4 name">Checkout Item</div>
   <form action="/staff/tasks/checkout" method="POST" class="p-3 mt-3">
      <div class="form-field d-flex align-items-center">
         <input type="text" id="cardNumber" name="cardNumber" placeholder="Card Number" class="cardNumber">
      </div>
      <div class="form-field d-flex align-items-center">
         <input type="text" id="recordId" name="recordId" placeholder="Record ID" class="recordId">
      </div>
      <button type="submit" class="btn mt-3">Checkout</button>
      <button type="reset" class="btn mt-3">Clear</button>
   </form>
</div>
