<h1>Register Form</h1>
<div class="form">
  <form action='/register' method="POST">
      <input type="text" id="username" name="username" placeholder="enter username">
      <input type="password" id="password" name="password" placeholder="password">
      <input type="password" id="repeatPassword" name="repeatPassword" placeholder="verify password">
      <input type="submit" value="Register">
  </form>
</div>