<h1>Register a Borrower</h1>
   <div class="form">
      <form action="/staff/register" method="POST">
         <label for="cardNumber">Card number:</label><br>
         <input type="text" id="cardNumber" name="cardNumber"><br>
         <label for="pin">PIN/Password:</label><br>
         <input type="password" id="pin" name="pin"><br>
         <label for="fname">First name:</label><br>
         <input type="text" id="fname" name="fname"><br>
         <label for="minit">Middle initial:</label><br>
         <input type="text" id="minit" name="minit"><br>
         <label for="lname">Last name:</label><br>
         <input type="text" id="lname" name="lname"><br>
         <label for="dob">DOB:</label><br>
         <input type="date" id="dob" name="dob"><br>
         <label for="add1">Street address:</label><br>
         <input type="text" id="add1" name="add1"><br>
         <label for="add2">Apt, number, etc:</label><br>
         <input type="text" id="add2" name="add2"><br>
         <label for="city">City:</label><br>
         <input type="text" id="city" name="city"><br>
         <label for="state">State:</label><br>
         <input type="text" id="state" name="state"><br>
         <label for="zip">Zip::</label><br>
         <input type="text" id="zip" name="zip"><br>
         <label for="phone">Phone number:</label><br>
         <input type="tel" id="phone" name="phone"><br>
         <label for="email">Email address:</label><br>
         <input type="email" id="email" name="email"><br><br>
         <input type="submit" value="Register">
         <input type="reset" value="Clear">
      </form>
   </div>