<div class="wrapper">
   <div class="text-center mt-4 name">Register Borrower</div>
   <form action="/staff/borrower/register" method="POST" class="p-3 mt-3">
      <div class="form-field d-flex align-items-center">
      <input type="text" id="cardNumber" name="cardNumber" placeholder="Card number"></div>
      <div class="form-field d-flex align-items-center">
      <input type="text" id="fname" name="fname" placeholder="First name"></div>
      <div class="form-field d-flex align-items-center">
      <input type="text" id="minit" name="minit" placeholder="Middle initial"></div>
      <div class="form-field d-flex align-items-center">
      <input type="text" id="lname" name="lname" placeholder="Last name"></div>
      <div class="form-field d-flex align-items-center">
      <input type="text" id="add1" name="add1" placeholder="Address 1"></div>
      <div class="form-field d-flex align-items-center">
      <input type="text" id="add2" name="add2" placeholder="Address 2"></div>
      <div class="form-field d-flex align-items-center">
      <input type="text" id="city" name="city" placeholder="City"></div>
      <div class="form-field d-flex align-items-center">
      <input type="text" id="state" name="state" placeholder="State"></div>
      <div class="form-field d-flex align-items-center">
      <input type="text" id="zip" name="zip" placeholder="Zip code"></div>
      <div class="form-field d-flex align-items-center">
      <input type="tel" id="phone" name="phone" placeholder="Phone number"></div>
      <div class="form-field d-flex align-items-center">
      <input type="email" id="email" name="email" placeholder="Email address"></div>
      <button type="submit" class="btn mt-3">Register</button>
      <buton type="reset" class="btn mt-3">Clear</buton>
   </form>
</div>