<h1>Staff</h1>
<hr>
<h2>Common Tasks</h2>
<a href="">Checkout Item</a><br>
<a href="">Dishcarge Item</a><br>
<hr> 
<h2>Borrower Details</h2>
<a href="/staff/viewBorrower">Display borrower info</a><br>
<a href="/staff/register">Register a borrower</a><br>
<a href="/staff/updateBorrower">Update a borrower</a><br>
<a href="/staff/deleteBorrower">Delete a borrower</a><br>
<hr>
<h2>Record Details</h2>
<a href="/staff/viewRecord">View Record</a><br>
<a href="/staff/addRecord">Add a record</a><br>
<a href="/staff/editRecord">Edit a record</a><br>
<a href="/staff/deleteRecord">Delete a record</a><br>
<hr>

