<h1>View Borrower Info</h1>
<div class="form">
   <form action="/staff/borrowerDetails" method="GET">
      <label for="cardNumber">Enter Borrower's Card Number:</label><br>
      <input type="text" id="cardNumber" name="cardNumber"><br>
      <input type="submit" value="View">
      <input type="reset" value="clear">
   </form>
</div>